##########################################
# sublime text ignores

*.sublime-workspace

##########################################
# all zip files

*.gz
*.zip
*.tar
*.tar.gz

##########################################
# all images/video/audio

*.png
*.jpg
*.jpeg
*.gif
*.wav
*.aif
*.mpg
*.mpeg
*.mp3
*.mp4
*.avi
*.wmv

##########################################
# SuperCollider gitignore (from https://github.com/supercollider/supercollider/blob/master/.gitignore)

# mac related files
.DS_Store
platform/mac/Intermediate Build Files
platform/mac/*.xcodeproj/*.mode1
platform/mac/*.xcodeproj/*.pbxuser
platform/mac/*.xcodeproj/*.mode1v3
platform/mac/build

# Windows related files
*Thumbs.db
CMakeLists.txt.user

# working files made by packager script
common/Packager/LinuxExclusions.txt
common/Packager/SuperCollider*.tar.gz
common/Packager/SuperCollider*.dmg

#build directories
/build*

*~
*.orig

##########################################
# Processing gitignore

.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx


##########################################
# Lilypond gitignore

*.pdf
*.ps
*.midi
*.mid
*.log
*~


##########################################
# python gitignore


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
